---
permalink: /archive/
layout: default
---

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<article class="dpmid">
			<a href="../tournaments/">
			<h4>Upcoming Tournaments</h4>
			</a>
		</article>
	</div>
</div>

{% capture split %}{{ 'now' | date: '%Y%j' }}{% endcapture %}
{% for post in site.posts %}
	{% capture d %}{{ post.date | date: "%Y%j" }}{% endcapture %}
	{% if  d < split %}
	<div class="col-md-4">
		<article class="dplow">
			<h4>{{ post.name }}</h4>
			<a href="../tournament/{{ post.title | replace: ' ','-'}}">
			<div class="info">{{ post.date | date: "%A %B %-d, %Y" }}
			<img src="../img/tourney/{{ post.pic }}" class="img-responsive" />
			</div>
			</a>
		</article>
	</div>
	{% endif %}
{% endfor %}
