---
permalink: /rankings/
layout: default
---

<div class="row">
	<div class="col-md-8 col-md-offset-2 me">
		<article class="dpmid">
			<h4>Melee</h4>
		</article>
	</div>
</div>
{% for player in site.data.ranking.melee limit:10 %}
<div class="col-md-10 col-md-offset-1 dplow rank">
<a id=m{{ player.rank }} class="anchor"></a>
	<b>{{ player.rank }}</b>
	<span>
		Melee: {% for m in player.melee %}<i class="flair" href="#Melee{{m}}" title="{{m}}"></i>{% endfor %}
		<br />
		PM: {% for m in player.pm %}<i class="flair" href="#Pm{{m}}" title="{{m}}"></i>{% endfor %}
	</span>
	<h5>{{ player.name }}</h5>
	<p>{{ player.description}}</p>
	<p>
		{% for w in player.wins %}<img src="../img/tourney/{{w}}.png" alt="{{w}}" />{% endfor %}
	</p>
</div>
{% endfor %}

<div class="row">
	<div class="col-md-8 col-md-offset-2 pm">
		<article class="dpmid">
			<h4>Project M</h4>
		</article>
	</div>
</div>
{% for player in site.data.ranking.projectm limit:10 %}
<div id=p{{ player.rank }} class="col-md-10 col-md-offset-1 dplow rank pm">
	<b>{{ player.rank }}</b>
	<span>
		Melee: {% for m in player.melee %}<i class="flair" href="#Melee{{m}}" title="{{m}}"></i>{% endfor %}
		<br />
		PM: {% for m in player.pm %}<i class="flair" href="#Pm{{m}}" title="{{m}}"></i>{% endfor %}
	</span>
	<h5>{{ player.name }}</h5>
	<p>{{ player.description}}</p>
	<p>
		{% for w in player.wins %}<img src="../img/tourney/{{w}}.png" alt="{{w}}" />{% endfor %}
	</p>
</div>
{% endfor %}
