<aside class="col-md-3">

    <div class="dplow ranking me">		
        <i id="rpm" class="game" href="#ProjectM"></i>
		<h4>Melee Ranks</h4>        
		<ul>
		{% for player in site.data.ranking.melee limit:5 %}
		<a href="{{page.postdata}}../rankings#m{{player.rank}}">		
		<li>
			<span>{{ player.rank }}</span>{{ player.name }}
			{% for m in player.melee %}<i class="flair" href="#Melee{{m}}" title="{{m}}"></i>{% endfor %}
		</li>
		</a>
		{% endfor %}
        </ul>        
    </div>
    <div class="dplow ranking pm">
		<i id="rme" class="game" href="#Melee"></i>
        <h4>PM Ranks</h4>
        <ul>
		{% for player in site.data.ranking.projectm limit:5 %}
		<a href="{{page.postdata}}../rankings#p{{player.rank}}">		
		<li>
			<span>{{ player.rank }}</span>{{ player.name }}
			{% for m in player.pm %}<i class="flair" href="#Pm{{m}}" title="{{m}}"></i>{% endfor %}
		</li>
		</a>
		{% endfor %}
        </ul>        
    </div>

	<div class="dplow">
        <h4>Calendar</h4>

		<article>
			<h4>Google Calendar</h4>
			<div class="info"></div>
		</article>

    </div>
	<div class="dplow">
        <h4>Social Media</h4>
        <p class="text-center">
		<a class="icon icon-yt" href="https://www.youtube.com/channel/{{ site.youtube }}"><svg viewBox="0 0 512 512"><path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"/></svg></a>
		<a class="icon icon-ml" href="mailto:{{ site.email }}"><svg viewBox="0 0 512 512"><path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"/></svg></a>
		<a class="icon icon-fb" href="https://www.facebook.com/groups/{{ site.facebook }}"><svg viewBox="0 0 512 512"><path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/></svg></a>
	</p>     
    </div>
</aside>
