<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.title }}{% for key in site.keywords %}, {{ key }}{% endfor %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' }}">    
	<link rel="stylesheet" href="{{ page.postdata }}../css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ page.postdata }}../css/style.css">
    <link rel="stylesheet" href="{{ page.postdata }}../css/flair.css">
</head>
