---
layout: default
---

<div id="tourney">
{% for post in paginator.posts %}
	<div class="col-md-4 {%if post.game contains 'ProjectM' %}pm{% endif %}">
		<article class="dplow">
			<h4>{{ post.name }}</h4>
			<a href="{{site.baseurl}}/tournament/{{ post.title | replace: ' ','-'}}">
			<div class="info">{{ post.date | date: "%A %B %-d, %Y" }}
			<img src="{{site.baseurl}}/img/tourney/{{ post.pic }}" class="img-responsive" />
			</div>
			</a>
		</article>
	</div>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="row">
    {% if paginator.previous_page and paginator.page > 1 %}
	<div class="col-md-6">
		<article class="dpmid">
			<a href="{{ paginator.previous_page_path }}">
			<h4>Next</h4>
			</a>
		</article>
	</div>
    {% endif %}
    {% if paginator.next_page %}
	<div class="col-md-6">
		<article class="dpmid">
			<a href="{{ paginator.next_page_path }}">
			<h4>Prev</h4>
			</a>
		</article>
	</div>
    {% endif %}
</div>
